/* Small Screen */
.container {
    background-color: #4361ee;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

.footer__title {
    margin-bottom: 1rem;
}

.footer__author {
    margin-bottom: 1rem;
}

/* Medium Screen */
@media (min-width: 768px) {
    /* Nothing to do here
    */
}

/* Large Screen */
@media (min-width: 992px) {
    /* Nothing to do here
    */
}