/* Small Screen */
.container {
    margin: 1rem;
}

.form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form__group {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form__left {
    margin-bottom: 1rem;
    background-color: #fff;
}

.form__image {
    display: none;
}

.form__right {
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #fff;
}

.form__title {
    color: #4361ee;
    font-size: 2.44rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
    
}

.form__label {
    font-size: 1.59rem;
    color: #64748b;
    margin-bottom: 0.5rem;
}

.form__input {    
    padding: 0.5rem;
    border: 1px solid #4361ee;
    border-radius: 10px;
    font-size: 1.59rem;
}

.form__button {
    max-width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #4361ee;
    color: #fff;
    font-size: 1.59rem;
    text-align: center;
    cursor: pointer;
}

.form__button:hover {
    background-color: #3e8e41;
}

/* Medium Screen */
@media (min-width: 768px) {
    .form__image {
        max-width: 100%;
        height: auto;
        border-radius: 25px;
    }  

}

/* Large Screen */
@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 3rem auto;
    }
    
    .form {
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .form__image {
        display: grid;
        max-width: 100%;
        height: auto;
        border-radius: 25px;
    } 

    .form__group {
        margin: 1rem;
    }

    
    .form__left {
        flex-basis: 60%;
    }

    .form__right {
        flex-basis: 40%;
    }  

    .form__button {
        width: 100%;
    }

}